body{
    font-family: "Arial, sans-serif";
    background-color: #EDE8D0;
    color: #333;
    line-height: 1.6;
}

header{
    background-color: lightblue;
    color: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

h1{
    font-family: "Georgia", "Garamond" serif;
    text-align: center;
    margin-bottom: 10px;
}


section{
    font-family: "Georgia", "Garamond" serif;
    background-color: #F5F5F5;
    border: 2px solid #4A5A67;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 12px;
    width:90%;

    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}

ul {
    padding-left: 20px;
    
}

